#flag-details-div {
    /* height: 80vh; */
    min-height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
   
    box-sizing: border-box;
    padding: 2rem;

    background-color: white;
}

#details {
    width: 100%; 
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;


    #details-1,#details-2{
        width: 50%;

    }
    h2{
        margin-bottom: 8%;
        font-size: 2.5rem; 
    }
}


#imgContainer {
    width: 50%;
    height: 100%;


    display: flex;
    justify-content: flex-start;
    align-items: center;

    img{
        width: 60%;
        height: 60%;
        border: 1px solid rgb(186, 184, 184);

        position: relative;
        left: 3rem;
    }
}

#countryDetails {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */

    box-sizing: border-box;
    padding: 2rem;
}

#details-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.border_span{
    margin: 0 1rem;
    padding: 0 0.5rem;
    border: 0.05rem solid white;

    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 60%; */
}

#back-button {
    position: relative;
    left: 3rem;

    box-sizing: border-box;
    padding: 0.5rem 3rem;
}

.back-icon {
    position: relative;
    left: -10px;
}

#details-3 {
    text-align: start;
    width: 100%;
}

p {
    font-weight: 700;
}

span {
    font-weight: 500;
}