#InputDataSearch {
    height: 4rem;
    /* border: none; */
    border:none;
    border-radius: 4px;
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);


    input {
        background: white;
        color: black;
        text-align: start;
        border: none;
        padding: 1.7rem 3rem;  
        overflow: hidden;
    }

    #searchIcon {
        position: relative;
        top: 0.5rem;
        left: 2rem;
    }
}