body {
  padding: 0;
  margin: 0;
  /* height: auto; */
  font-family: "Nunito Sans", sans-serif;
}
*{
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
}

#App {
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  background-color: hsl(0, 0%, 98%);
}

#headerDiv {
  height: 5%;
  color: black;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  box-shadow: 0 0 5px 0;
}
#headerDiv h1{
  
  font-size: 1.7rem;
  font-weight: 800;
}

/* DarkMode button */
#darkModeButton {
  display: inline-block;
  background-color: white;
  color: black;
  border-style: none;
  font-size: 1.1rem;
  font-weight: 600;
}

#functionsDiv {
  height: 10%;
  box-sizing: border-box;
  padding: 2.3rem 6rem 0 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}


#flagsInfoDiv  {
  height: 85%;
}

/* flag-details */
.flags-container {
  width: 100vw;
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 1rem 2rem 7rem;
  
}

.flag-details {
  width:18vw;
  border: 0.5px solid rgb(220, 211, 211);
  border-radius: 0.5rem;
  overflow: hidden;
  height: 45vh;
  margin: 2rem 0;
  }

.flag-details img{
  height: 50%;
  width: 100%;
}

.flag-details .text-part{
  padding: 0;
  padding-left: 2rem;
}
.flag-details .countryName{
  font-size: 1.3rem;
  font-weight: 800;
}


.flag-details p {
  color: black;
}

.black {
  color: black;
  font-weight: 600;
}