#selectRegions {
    background: white;
    color: black;
    box-sizing: border-box;
    padding: 1rem;
    border: 1px solid rgb(247, 233, 233);
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);
    font-size: 1rem;
    font-weight: 500;   
}